[submodule "public"]
	path = public
	url = https://github.com/hudavn/hudavn.github.io.git
	branch = master
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
